.container{
  background: url(https://texas-psdigital.vercel.app/assets/images/bg_4.webp);
  background-size: contain;
  position: relative;
}
.ayhaga button{
  color:white;
background-color: brown;
}
.ayhaga  :hover{
  background-color: #F8B055;
  color: black;
}
.ayhagaa{
  cursor: pointer;
}